################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/test/test/.vs/test/FileContentIndex/d65f9f10-366e-4cc1-8678-e3d7aaf8eea5.vsidx
/test/test/.vs/test/FileContentIndex/5a9f06ab-58f7-47d0-9ef2-404c92008690.vsidx
/test/test/.vs/test/FileContentIndex/305639d8-5d62-48d2-aa79-63d02d435873.vsidx
/test/test/.vs/test/FileContentIndex/4a64c584-09e4-4553-8b6a-536b1816195b.vsidx
/test/test/.vs/test/FileContentIndex/9173c289-6443-43b5-bbee-8cc39f9c2be2.vsidx
/test/test/.vs/test/FileContentIndex/a6743686-67c2-47fa-9d9b-4e935cc2a24e.vsidx
/test/test/.vs/test/FileContentIndex/c35eb797-1814-4234-9bc1-1766ba2b106c.vsidx
