<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
		<add name="OracleDbConnection"
             connectionString="Data Source=//8.148.76.54:1524/orclpdb1;User Id=cbc;Password=123456;"
             providerName="Oracle.ManagedDataAccess.Client" />
	</connectionStrings>
</configuration>